.page, .post {
	margin: 0;
}

body {
	color: #222;
	background-color: #fcfcfc;
	font-size: 1.8rem;
}

header.site-header {
	position: sticky;
	top: 0;

	.wrapper {
		display: flex;
		justify-content: space-between;
    align-items: center;
	}

}

@media screen and (min-width: 1700px) {
	.container {
		max-width: 1840px;
	}
}

a.decorlux-logo {
	max-width: 175px;
	padding: 60px 0;
}

.home { 
	a.decorlux-logo {
		max-width: 175px;
		position: relative;
		transform: unset;
		left: unset;
		top: unset;
		margin: unset;
	}
	
}

@media screen and (min-width: 1200px) {

	
	#burger-icon {
		display: none;
	}

	.site-menu {
		background-image: none;
		position: static;
		width: auto;
		height: auto;
		&:before {
			display: none;
		}
		.menu-main-menu-container {
			display: flex;
			align-items: center;
			position: static;
			width: auto;
			transform: unset;
			padding: 0;

		}
	}
	
	ul#primary-menu {
		font-size: 1.4rem;
		line-height: 1.5;
		color: #222;
		display: flex;
		align-items: center;
		gap: 90px;

		.sub-menu {
			display: none;
		}

		li.menu-item-211, li.menu-item-208, li.menu-item-210, li.menu-item-209 {
			display: block !important;
		}

		li.menu-item {
			position: static !important;
			transform: unset !important;
			a {
				font-size: 1.8rem;
				color: #222;
				letter-spacing: 0;
			}
		}
	}
}

footer.site-footer {
	background-color: #fff;
	font-size: 1.6rem;
	font-weight: 400;

	.wrapper {
		display: flex;
		justify-content: space-between;

		&.footer-top-wrapper {
			padding: 100px 0 130px;
			border-bottom: 1px solid #222;
		}

		&.footer-bottom-wrapper {
			padding: 30px 0 50px;
		}

		h3 {
			font-size: 2.1rem;
			font-weight: 400;
			color: #222;
			margin-bottom: 1.5em;
		}

		.footer-brief {
			width: 100%;
			max-width: 500px;
		}

		.footer-quick-links {
			ul {
				display: flex;
				flex-direction: column;
				gap: 15px;
				padding: 0;
				margin: 0;
				list-style: none;
				li {
					a {
						color: #222;
						text-decoration: none;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}

		.footer-social-media {
			ul {
				display: flex;
				padding: 0;
				gap: 15px;

				li {
					margin: 0;
					a {
						color: #222;
						font-size: 20px;
						text-decoration: none;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}

		.footer-address {
			.address-content {
				display: flex;
				gap: 10px;

				.fa {
					font-size: 20px;
				}
			}	
		}

		.footer-links {
			ul {
				display: flex;
				flex-direction: row;
				padding: 0;
				margin: 0;
				list-style: none;

				li {
					padding: 0 50px;
					border-right: 1px solid #222;
					&:first-child {
						padding-left: 0;
					}
					&:last-child {
						padding-right: 0;
						border-right: 0;
					}
					&:hover {
						text-decoration: underline;
					}
					a {
						color: #222;
						font-size: 1.6rem;
						line-height: 1.5;
						text-decoration: none;
						font-weight: 400;
					}
				}
			}
		}
	}
}