.page, .post {
	margin: 0;
	width: 100%;
	max-width: 1920px;
	margin: auto;
}

body {
	color: #222;
	background-color: #fcfcfc;
	font-size: 1.8rem;
}

h2 {
	font-size: 5.3rem;
	font-weight: 400;
	margin-bottom: 0;
}

h3 {
	font-size: 3.3rem;
	font-weight: 400;
	margin-bottom: 0;
}

header.site-header {
	position: sticky;
	top: 0;

	.wrapper {
		display: flex;
		justify-content: space-between;
    align-items: center;
	}

}

@media screen and (min-width: 1700px) {
	.container {
		max-width: 1680px;
	}
}

a.decorlux-logo {
	max-width: 175px;
	padding: 60px 0;
}

.home { 
	overflow-y: auto;
	height: unset;
	a.decorlux-logo {
		max-width: 175px;
		position: relative;
		transform: unset;
		left: unset;
		top: unset;
		margin: unset;
	}
	
}

@media screen and (min-width: 1200px) {
	#burger-icon {
		display: none;
	}

	.site-menu {
		background-image: none;
		position: static;
		width: auto;
		height: auto;
		&:before {
			display: none;
		}
		.menu-main-menu-container {
			display: flex;
			align-items: center;
			position: static;
			width: auto;
			transform: unset;
			padding: 0;

		}
	}
	
	ul#primary-menu {
		font-size: 1.4rem;
		line-height: 1.5;
		color: #222;
		display: flex;
		align-items: center;
		gap: 90px;

		.sub-menu {
			display: none;
		}

		li.menu-item-211, li.menu-item-208, li.menu-item-210, li.menu-item-209 {
			display: block !important;
		}

		li.menu-item {
			position: static !important;
			transform: unset !important;
			a {
				font-size: 1.8rem;
				color: #222;
				letter-spacing: 0;
			}
		}
	}
}

footer.site-footer {
	background-color: #fff;
	font-size: 1.6rem;
	font-weight: 400;
	position: static !important;

	.wrapper {
		display: flex;
		justify-content: space-between;

		&.footer-top-wrapper {
			padding: 100px 0 130px;
			border-bottom: 1px solid #222;
		}

		&.footer-bottom-wrapper {
			padding: 30px 0 50px;
		}

		h3 {
			font-size: 2.1rem;
			font-weight: 400;
			color: #222;
			margin-bottom: 1.5em;
		}

		.footer-brief {
			width: 100%;
			max-width: 500px;
		}

		.footer-quick-links {
			ul {
				display: flex;
				flex-direction: column;
				gap: 15px;
				padding: 0;
				margin: 0;
				list-style: none;
				li {
					a {
						color: #222;
						text-decoration: none;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}

		.footer-social-media {
			ul {
				display: flex;
				padding: 0;
				gap: 15px;

				li {
					margin: 0;
					a {
						color: #222;
						font-size: 20px;
						text-decoration: none;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}

		.footer-address {
			.address-content {
				display: flex;
				gap: 10px;

				.fa {
					font-size: 20px;
				}
			}	
		}

		.footer-links {
			ul {
				display: flex;
				flex-direction: row;
				padding: 0;
				margin: 0;
				list-style: none;

				li {
					padding: 0 50px;
					border-right: 1px solid #222;
					&:first-child {
						padding-left: 0;
					}
					&:last-child {
						padding-right: 0;
						border-right: 0;
					}
					&:hover {
						text-decoration: underline;
					}
					a {
						color: #222;
						font-size: 1.6rem;
						line-height: 1.5;
						text-decoration: none;
						font-weight: 400;
					}
				}
			}
		}
	}
}

.banner {
	&.home-banner {
		.banner-wrapper	{
			width: 100%;
			padding-bottom: 56.25%; /* 16:9 aspect ratio */
			position: relative;
			overflow: hidden;

		& iframe {
				position: absolute;
				width: 100dvw;
				height: 100%;
				border: none;
				top: 0;
				left: 0;
			}
		}
	
	}
}

.section {
	margin-bottom: 120px;
}

.home-categories {
	.category-wrapper {
		position: relative;
		aspect-ratio: 4/5;
		overflow: hidden;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			transition: 0.3s ease-in-out;
			opacity: 0;
			visibility: hidden;
		}

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 1s ease-in-out;
		}

		& h3 {
			position: absolute;
			color: #fdfdfd;
			text-align: center;
			bottom: 1em;
			margin-bottom: 0;
			width: 100%;
			z-index: 1;
		}

		&:hover img {
			transform: scale(1.05);
		}

		&:hover::after {
			opacity: 1;
			visibility: visible;
		}
	}
}

.home-content-section {
	h2 {
		margin-bottom: 30px;
	}

	h3 {
		margin-bottom: 24px;
		font-weight: 300;
	}

	.inner-wrapper {
		max-width: 568px;
	}

	&.why-decorlux {

		.inner-wrapper {
			max-width: 590px;
		}
		.section-wrapper {
			flex-direction: row-reverse;

			.section-content-container {
				border-top: 0;
			}
		}
	}

	.section-wrapper {
		display: flex;
		gap: 85px;

		.section-content-container {
			display: flex;
			justify-content: flex-end;
			flex: 1;
			max-width: 100%;
			padding: 120px 120px 120px 0;
			border-top: 2px solid #dbdbdb;
			border-bottom: 2px solid #dbdbdb;
			margin-left: 80px;
		}

		.section-image-container {
			flex: 1;
			max-width: 100%;
			aspect-ratio: 95/100;
			overflow: hidden;
			position: relative;

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.5);
				transition: 0.3s ease-in-out;
				opacity: 0;
				visibility: hidden;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: transform 1s ease-in-out;
			}

			&:hover img {
				transform: scale(1.05);
			}

			&:hover::after {
				opacity: 1;
				visibility: visible;
			}
		}

	}
}