.page, .post {
	margin: 0;
	width: 100%;
	max-width: 1920px;
	margin: auto;
	overflow-x: hidden;
}

#page {
	overflow-x: unset;
}

body {
	color: #222;
	background-color: #fcfcfc;
	font-size: 1.6rem;
}

@media screen and (min-width: 1700px) {
	body {
		font-size: 1.8rem;
	}
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	color: #222;
	&:hover, &:visited, &:focus {
		color: inherit
	}
	&:hover {
		text-decoration: underline;
	}

	&.email {
		text-decoration: underline;
	}
}

h1 {
	&.post-title {
		font-size: 5.3rem;
		font-weight: 400;
		margin-top: 0;
		margin-bottom: 30px;
	}	
}

.archive-description {
	margin-bottom: 30px;
}

h2 {
	font-size: 4.3rem;
	font-weight: 400;
	margin-bottom: 0;
}

h3 {
	font-size: 2rem;
	font-weight: 400;
	margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
	h1 {
		&.post-title {
			font-size: 4rem;
		}
	}

	h2 {
		font-size: 4rem;
	}

	h3 {
		font-size: 2rem;
	}
}

@media screen and (min-width: 1700px) {
	h1 {
		&.post-title {
			font-size: 5.3rem;
		}
	}

	h2 {
		font-size: 4.3rem;
	}

	h3 {
		font-size: 3.3rem;
	}
}

header.site-header {
	position: sticky;
	top: 0;
	background-color: #ffffff;

	.wrapper {
		display: flex;
		justify-content: space-between;
    align-items: center;
	}
}

p {
	&:last-child {
		margin-bottom: 0;
	}
}

.button {
	background-color: #fdfdfd;
	font-size: 1.6rem;
	color: #222;
	border: 1.333px solid rgba(34, 34, 34, 0.30);
	padding: 12px 77px;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	border-radius: 0;

	&:hover {
		background-color: #222;
		color: #fdfdfd;
		border: 1.333px solid rgba(34, 34, 34, 0.30);	
		text-decoration: none;
	}
}

@media screen and (min-width: 1500px) {
	.container {
		max-width: 1440px;
	}
}

@media screen and (min-width: 1700px) {
	.container {
		max-width: 1680px;
	}
}

a.decorlux-logo {
	max-width: 135px;
	padding: 20px 0;   
	position: relative;
	transform: unset;
	left: unset;
	top: unset;
	margin: unset;
}

@media screen and (min-width: 1500px) {
	a.decorlux-logo {
		max-width: 150px;
	}
}

@media screen and (min-width: 1700px) {
	a.decorlux-logo {
		max-width: 175px;
	}
}

.image-wrapper {
	position: relative;
	overflow: hidden;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.2);
		transition: 0.3s ease-in-out;
		opacity: 0;
		visibility: hidden;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: transform 1s ease-in-out;
	}

	&:hover img {
		transform: scale(1.05);
	}

	&:hover::after {
		opacity: 1;
		visibility: visible;
	}
}

.home { 
	overflow-y: auto;
	height: unset;
	a.decorlux-logo {
		position: relative;
		transform: unset;
		width: 175px;
		left: unset;
		top: unset;
		margin: unset;
	}
	
}

@media screen and (min-width: 1200px) {
	#burger-icon {
		display: none;
	}

	.site-menu {
		background-image: none;
		position: static;
		width: auto;
		height: auto;


		&:before {
			display: none;
		}
		.menu-main-menu-container {
			display: flex;
			align-items: center;
			position: static;
			width: auto;
			transform: unset;
			padding: 0;

		}
	}
	
	ul#primary-menu {
		font-size: 1.4rem;
		line-height: 1.5;
		color: #222;
		display: flex;
		align-items: center;
		gap: 60px;

		.sub-menu {
			display: flex;
			width: 200px;
			flex-direction: column;
			position: absolute;
			z-index: 11;
			visibility: hidden;
			opacity: 0;
			margin: 0;
			padding: 20px 0;
			border: 0;
			background-color: #f4f4f4;
			left: 50%;
			transform: translateX(-50%);

			li {
				text-align: center;
			}

			a {
				font-size: 1.4rem;
				color: #222;
				padding: 15px 20px;
				white-space: nowrap;

				&:hover {
					text-decoration: underline;
				}
			}

			.menu-item {
				&.current-menu-item {
					a {
						text-decoration: underline;
					}
				}
			}
		}

		li.menu-item-211, li.menu-item-208, li.menu-item-210, li.menu-item-209 {
			display: block !important;
		}

		> li.menu-item {
			position: relative !important;
			transform: unset !important;
			left: unset !important;

			&.current-menu-item {
				> a {
					&::after {
						visibility: visible;
						opacity: 1;
					}
				}
			}

			&:hover {
				.sub-menu {
					visibility: visible;
					opacity: 1;
				}
			}

			> a {
				font-size: 1.4rem;
				color: #222;
				letter-spacing: 0;
				display: inline-block;
				padding: 30px 0;
				position: relative;

				&::after {
					content: '';
					position: absolute;
					top: 60%;
					left: 0;
					display: block;
					width: 100%;
					height: 1px;
					background-color: #222;
					margin-top: 5px;
					visibility: hidden;
					opacity: 0;
					transition: all 0.3s ease-in-out;
				}

				&:hover {
					text-decoration: none;
					&::after {
						visibility: visible;
						opacity: 1;
					}
					
				}
			}
		}
	}
}

@media screen and (min-width: 1500px) {
	ul#primary-menu {
		gap: 90px;
		& > li.menu-item {
			> a {
				font-size: 1.4rem;
				padding: 45px 0;
			}
		}
	}
	
}

@media screen and (min-width: 1700px) {
	ul#primary-menu {
	
		& > li.menu-item {
			> a {
				font-size: 1.8rem;
				padding: 60px 0;
			}
		}
	}
	
}

footer.site-footer {
	background-color: #fff;
	font-size: 1.4rem;
	font-weight: 300;
	position: static !important;

	.wrapper {
		display: flex;
		justify-content: space-between;

		&.footer-top-wrapper {
			padding: 100px 0 130px;
			border-bottom: 1px solid #222;
		}

		&.footer-bottom-wrapper {
			padding: 30px 0 50px;
		}

		h3 {
			font-size: 1.6rem;
			font-weight: 400;
			color: #222;
			margin-bottom: 1.5em;
		}

		.footer-brief {
			width: 100%;
			max-width: 500px;
		}

		.footer-quick-links {
			ul {
				display: flex;
				flex-direction: column;
				gap: 15px;
				padding: 0;
				margin: 0;
				list-style: none;
				li {
					a {
						color: #222;
						text-decoration: none;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}

		.footer-social-media {
			ul {
				display: flex;
				padding: 0;
				gap: 15px;

				li {
					margin: 0;
					a {
						color: #222;
						font-size: 20px;
						text-decoration: none;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}

		.footer-address {
			.address-content {
				display: flex;
				gap: 10px;

				.fa {
					font-size: 20px;
				}
			}	
		}

		.footer-links {
			ul {
				display: flex;
				flex-direction: row;
				padding: 0;
				margin: 0;
				list-style: none;

				li {
					padding: 0 50px;
					border-right: 1px solid #222;
					&:first-child {
						padding-left: 0;
					}
					&:last-child {
						padding-right: 0;
						border-right: 0;
					}
					&:hover {
						text-decoration: underline;
					}
					a {
						color: #222;
						font-size: 1.4rem;
						line-height: 1.5;
						text-decoration: none;
						font-weight: 300;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1500px) {
	footer.site-footer {
		font-size: 1.6rem;
		& .wrapper {
			h3 {
				font-size: 2.1rem;
			}

			.footer-links {
				& ul {
					& li {
						& a {
							font-size: 1.6rem;
						}
					}
				}
			}
		}
	}
}

.banner {
	&:not(.home-banner) {
		width: 100%;
		aspect-ratio: 2/1;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}

	&.terms-banner {
		height: 665px;
	}

	&.home-banner {
		.banner-wrapper	{
			width: 100%;
			padding-bottom: 56.25%; /* 16:9 aspect ratio */
			position: relative;
			overflow: hidden;

		& iframe {
				position: absolute;
				width: 100dvw;
				height: 100%;
				border: none;
				top: 0;
				left: 0;
			}
		}
	}
}

.section {
	margin-bottom: 120px;
}

.home-categories {
	.category-wrapper {
		aspect-ratio: 4/5;

		& h3 {
			position: absolute;
			color: #fdfdfd;
			text-align: center;
			bottom: 1em;
			margin-bottom: 0;
			width: 100%;
			z-index: 1;
		}
	}
}

.content-section {
	h2 {
		margin-bottom: 30px;
	}

	h3 {
		margin-bottom: 24px;
		font-weight: 300;
	}

	.inner-wrapper {
		max-width: 568px;
	}

	&.why-decorlux {

		.inner-wrapper {
			max-width: 590px;
		}
		.section-wrapper {
			flex-direction: row-reverse;

			.section-content-container {
				border-top: 0;
			}
		}
	}

	&.home-content-section {
		.section-wrapper {
			.section-image-container {
				flex: 1;
				max-width: 100%;
				aspect-ratio: 95/100;
			}

			.section-content-container {
				display: flex;
				justify-content: flex-end;
				flex: 1;
				max-width: 100%;
				padding: 120px 120px 120px 0;
				border-top: 2px solid #dbdbdb;
				border-bottom: 2px solid #dbdbdb;
				margin-left: 80px;
			}
		}

		&.why-decorlux {
			.section-wrapper {
				.section-content-container {
					border-top: 0;
				}
			}
		}
	}

	&.about-content-section {
		.section-wrapper {
			flex-direction: row-reverse;

			.section-image-container {
				flex: 1;
				max-width: 100%;
				aspect-ratio: 1;
			}

			.section-content-container {
				flex: 1;
				max-width: 100%;
				border-bottom: 2px solid #dbdbdb;
			}

			.section-content-container {
				width: 100%;
			}
		}

		&.why-decorlux {
			.section-wrapper {
				.section-image-container {
					display: flex;
					justify-content: flex-end;
					& img {
						width: auto;
					}
				}
			}
		}
	}

	.section-wrapper {
		display: flex;
		gap: 85px;
		
		.section-image-container {
			overflow: hidden;
			position: relative;
		}

	}
}

.back-button {
	display: flex;
	gap: 11px;
	font-size: 1.6rem;
	color: #222;
	text-decoration: none;
	margin-top: 15px;
	align-items: center;
	
	.icon {
		font-size: 13px;
	}
}

@media screen and (min-width: 1500px) {
	.back-button {
		font-size: 2.1rem;
	}
}

.page-category-top {
	.inner-wrapper {
		display: flex;
		align-items: flex-start;
		gap: 116px;
	}

	.page-category-description {
		width: 100%;
		max-width: 1116px;
	}

	.button {
		display: inline-block;
	}

	.product-items {
		display: flex;
		gap: 25px;
		flex-direction: column;

		.product-item-title {
			font-weight: 500;
		}

		&:has(.product-item) {
			margin-top: 150px;
		}
	}
}

.page-main {
	.page-main-container {
		display: flex;
		flex-direction: column;
		list-style: none;
		padding: 0;
		margin: 0;

		.page-main-container-wrapper {
			display: flex;
			flex-direction: column;
			gap: 90px;
		}

		.page-category-item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			
			&:nth-child(even) {
				flex-direction: row-reverse;
			}
		
			.post-thumbnail {
				width: 100%;
				aspect-ratio: 10/7;
			}

			.page-category-item-content {
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			.blog-title {
				margin-bottom: 20px;
			}
		}
	}
}



.selecting-section {
	.postid-241 & {
		.design-image {
			background-color: #f4f4f4;
			padding: 30px 180px;
		}
	}

	.design-image {
		max-height: 650px;
	}

	&:nth-child(even) {
		.selecting-section-wrapper {
			flex-direction: row-reverse;

			.selecting-selecting-content-wrapper {
				margin-left: 0;
				margin-right: auto;
				padding-right: 30px;
			}

			.selecting-section-image {
				padding: 0 115px 0 0;
			}
		}
	}

	&:nth-last-child(2) {
		.break-line {
			display: none;
		}
	}

	.selecting-section-wrapper {
		display: flex;
		gap: 145px;
		width: 100%;

		.selecting-section-content {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 150px;
		}

		@media screen and (min-width: 1200px) {
			.selecting-section-content {
				max-width: calc(100% - 800px);
			}
		}

		@media screen and (min-width: 1500px) {
			.selecting-section-content {
				max-width: calc(100% - 1090px);
			}
		}

		.selecting-section-images {
			display: flex;
			flex-direction: column;
			gap: 180px;
		}

		.selecting-selecting-content-wrapper {
			display: flex;
			flex-direction: column;
			width: 100%;
			max-width: 550px;
			margin-left: auto;
			padding-left: 30px;
		}

		.caption {
			color: rgba(34, 34, 34, 0.30);
			font-weight: 300;
			margin-bottom: 100px;
		}

		h2 {
			margin-bottom: 20px;
		}

		.selecting-section-image {
			padding: 0 0 0 115px;
		}
	}

	.break-line {
		border-bottom: 1px solid rgba(34, 34, 34, 0.30);
		padding-top: 120px;
	}
}

.links-section {
	.links-section-wrapper {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}
}
.gallery {
	.grid-sizer {
		width: 50%;
	}
	.grid-item {
		width: 50%;
		padding: 10px;
	}
}

.contact-info-section {
	max-width: 1600px;
	margin: 0 auto;

	.contact-info-content {
		max-width: 600px;
		margin-bottom: 120px;
	}

	.quote-field {
		width: 100%;
		margin-bottom: 60px;

		&.message-field {
			margin-bottom: 30px;
		}

		& p {
			margin-bottom: 0;
		}

		& input, & textarea {
			border: 1.333px solid rgba(34, 34, 34, 0.30);
			background: #FFF;
			border-radius: 0;
			padding: 5px;
			font-size: 1.6rem;
			width: 100%;
			margin-bottom: 0;
		}
	}

	h4 {
		font-size: 2.4rem;
		font-weight: 300;
		margin-bottom: 10px;	
	}

	.contact-item {
		margin-bottom: 30px;
		a, span {
			display: block;
		}
	}

	.section-wrapper {
		justify-content: space-between;

	}

	.contact-form {
		width: 100%;
		max-width: calc(100% - 700px);
	}

	.contact-details {
		width: 100%;
		max-width: 486px;
	}

	.quote-fieldset {
		display: flex;
		gap: 30px;
	}
}

.map-section {
	margin: 80px 0 120px;
}

.header-section {
	& h2 {
		max-width: 1570px;
		margin: 0 auto 30px;
	}

	.break-line {
		border-bottom: 1px solid rgba(34, 34, 34, 0.30);
		margin-bottom: 120px;
	}

	.header-content {
		max-width: 1570px;
		margin: 0 auto;

		.header-content-wrapper {
			max-width: 600px;
		}
	}

}

.terms-main-content {
	h1.post-title {
		font-weight: 300;
		max-width: 1570px;
		margin: 0 auto 60px;
	}

	.break-line {
		border-bottom: 1px solid rgba(34, 34, 34, 0.30);
		margin: 0 0 120px;
	}

	.main-content {
		max-width: 1570px;
		margin: 0 auto;
	}

	h2 {
		margin-bottom: 1em;
		font-size: 2.2rem;
	}

	h3 {
		margin-bottom: 1em;
		font-size: 2rem;
		font-weight: 300;
	}
}

.fade-up {
	opacity: 0;
	transform: translateY(120px);
	transition: opacity 1.5s ease-out, transform 1.5s ease-out;

	&:nth-child(2) {
		transition-delay: 0.5s;
	}

	&:nth-child(3) {
		transition-delay: 1s;
	}

	&.in-view {
		opacity: 1;
		transform: translateY(0);
	}
}

.fade-left {
	opacity: 0;
	transform: translateX(-120px);
	transition: opacity 1s ease-out, transform 1s ease-out;

	&.delay-1 {
		transition-delay: 0.5s;
	}

	&.in-view {
		opacity: 1;
		transform: translateX(0);
	}
}

.fade-right {
	opacity: 0;
	transform: translateX(120px);
	transition: opacity 1.5s ease-out, transform 1.5s ease-out;

	&.delay-1 {
		transition-delay: 0.5s;
	}

	&.in-view {
		opacity: 1;
		transform: translateX(0);
	}
}